@font-face {
    font-family: 'Mono';
    src: url('/static/V1-ServerMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.no-decorations {
    text-decoration: none;
}

code:not(pre > code) {
    background-color: #f0f0f0;
    padding: 0.2em 0.4em;
    border-radius: 3px;
}

blockquote {
    border-left: 2px solid #000000;
    padding-left: 10px;
}

code {
    font-family: "Mono";
}

h1 {
    margin-bottom: 0;
}

body {
    max-width: 70ch;
    font-family: "Mono";
}

.nav ul {
    display: flex;
    list-style: none;
}

.nav ul li {
    margin-right: 20px;
}

.chroma {
    margin: 2em;
    padding: 3em 5em 3em 2em;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    border-radius: 7px;
    border: 2px solid black;
    /*wrap lines in code blocks*/
    white-space: pre-wrap;
    /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
}