{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="Home for a73x" />
	<meta name="author" content="a73x" />
	<meta name="viewport"
		content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
	<title>a73x</title>
	<link rel="stylesheet" href="/static/styles.css">
	<link rel="stylesheet" href="/static/syntax.css">
</head>

<body>
	<main>
		<h1>a73x</h1>
		<sub>high effort, low reward</sub>
		<nav class="nav">
			<ul>
				{{ range $vvv, $navPair:= .Nav}}
				{{ if eq $.Path $navPair.Path }}
				<li><a href="{{$navPair.Path}}">{{$navPair.Title}}</a></li>
				{{else}}
				<li><a class="no-decorations" href="{{$navPair.Path}}">{{$navPair.Title}}</a></li>
				{{end}}
				{{end}}
			</ul>
		</nav>
		{{ template "content" . }}
		<footer>
			<br />
			<hr />
			​​​​​​​​​​​​​​​​​​​<br />​
			<p>see something you disagree with? email: <a href="mailto:yourewrong@a73x.sh">yourewrong@a73x.sh</a></p>
		</footer>
	</main>
</body>

</html>
{{end}}