{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="Home for a73x" />
	<meta name="author" content="a73x" />
	<meta name="viewport"
		content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
	<title>a73x</title>
	<link rel="stylesheet" href="/static/styles.css">
	<script src="/static/highlight.js"></script>
	<script src="/static/highlight.go.js"></script>
	<script>hljs.highlightAll();</script>
	<style>
		@font-face {
			font-family: 'Mono';
			src: url('/static/V1-ServerMono-Regular.woff2') format('woff2');
			font-weight: normal;
			font-style: normal;
		}
		code {
			font-family: "Mono";
		}
		h1 {
			margin-bottom: 0;
		}
		body {
			max-width: 70ch;
			font-family: "Mono";
		}
		nav ul {
			display: flex;
			list-style: none;
		}

		nav ul li {
			margin-right: 20px;
		}
	</style>
</head>

<body>
	<h1>a73x</h1>
	<sub>high effort, low reward</sub>
	<nav>
		<ul>
			<li><a href="/">home</a></li>
			{{ range $key, $value := .Collections }}
			{{if ne $key "all"}}
			<li><a href="/{{$key}}">{{$key}}</a></li>
			{{end}}
			{{end}}
		</ul>
	</nav>
	{{ template "content" . }}
	<footer>
		<br />​<hr />​​​​​​​​​​​​​​​​​​​<br />​​​​​
		<p>see something you disagree with? email: <a href="mailto:yourewrong@a73x.sh">yourewrong@a73x.sh</a></p>
	  </footer> 
</body>

</html>
{{end}}