{{template "base" .}}
{{define "content"}}
	<ul>
		<li>backend cloud software engineer</li>
		<li>lang: go</li>
		<li>infra: kubernetes</li>
	</ul>
	<h2>daily learnings</h2>
	<h3>#go</h3>
	<ul>
		<li>layout packages by what they do, not by their abstract type</li>
		<li>use channels sparingly. write synchronous methods and allow the caller to make it async</li>
		<li><code>append</code> modifies the underlying slice, you'll only make this mistake once</li>
		<li>define interfaces where you use them</li>
		<li><code>make([]int, 5)</code> has a length and capacity of 5. <code>([]int, 0,5)</code> has a length
			of 0 and capacity of 5.
			<br />
			<code>append()</code> will only do what you want with the latter
		</li>
		<li>don't use <code>init()</code></li>
		<li>TFBO (test, fix, benchmark, optimise)</li>
	</ul>
	<h3>#git</h3>
	<ul>
		<li><code>git commit --fixup=&lt;COMMITSH&gt;</code>
			<br />
			<code>git rebase origin/main --autosquash</code>
		</li>
	</ul>

	<h2>Books</h2>
	<ul>
		<li><a href=https://www.oreilly.com/library/view/designing-data-intensive-applications/9781491903063 />Designing
			Data Intensive Applications</a></li>
		<li><a href=https://www.oreilly.com/library/view/database-internals/9781492040330 />Database Internals
			</a>
		</li>
		<li>
			<a href=https://www.oreilly.com/library/view/efficient-go/9781098105709 /> Efficient Go</a>

		</li>

	</ul>
{{end}}
